<div *ngIf="file">
  <div>
    <div class="col-4">
      <label>
        <b>Interface Id</b>
      </label>
      <p class="form-control-static">{{file.InterfaceId}}</p>
    </div>
    <div class="col-4">
      <label>
        <b>Interface Status</b>
      </label>
      <p class="form-control-static">{{file.InterfaceStatus}}</p>
    </div>
  </div>
  <div>
    <div class="col-10">
      <label>
        <b>Db Table</b>
      </label>
      <p class="form-control-static">{{file.DbTable}}</p>
    </div>
  </div>
  <div>
    <div class="col-10">
      <label>
        <b>Db Table - No PHI</b>
      </label>
      <p class="form-control-static">{{file.DbTableNoPHI}}</p>
    </div>
  </div>
  <div>
    <div class="col-4">
      <label>
        <b>Region</b>
      </label>
      <p class="form-control-static">{{file.Region}}</p>
    </div>
    <div class="col-4">
      <label>
        <b>Structure Phase</b>
      </label>
      <p class="form-control-static">{{file.StructPhase}}</p>
    </div>
  </div>
  <div>
    <div class="col-4">
      <label>
        <b>CCD Lifecycle Status</b>
      </label>
      <p class="form-control-static">{{file.CCDLifecycleStatus}}</p>
    </div>
    <div class="col-4">
      <label>
        <b>Sdm Sub Type</b>
      </label>
      <p class="form-control-static">{{file.SdmSubType}}</p>
    </div>
  </div>
  <div>
    <div class="col-4">
      <label>
        <b>OID in Implementation</b>
      </label>
      <p class="form-control-static">{{file.OidImpl}}</p>
    </div>
    <div class="col-4">
      <label>
        <b>OID in Production</b>
      </label>
      <p class="form-control-static">{{file.OidProd}}</p>
    </div>
  </div>
  <div>
    <div class="col-4">
      <label>
        <b>OID Tenant</b>
      </label>
      <p class="form-control-static">{{file.OidTenant}}</p>
    </div>
    <div class="col-4">
      <label>
        <b>OID Environment</b>
      </label>
      <p class="form-control-static">{{file.OidEnv}}</p>
    </div>
  </div>
  <div>
    <div class="col-4">
      <label>
        <b>HEDIS Standard</b>
      </label>
      <p class="form-control-static">{{file.HedisStandard}}</p>
    </div>
    <div class="col-4">
      <label>
        <b>File Source</b>
      </label>
      <p class="form-control-static">{{file.FileSource}}</p>
    </div>
  </div>
</div>