table {
    width: 100%;
  }

  .mat-column-Priority {
    max-width: 45px;
  }

  .mat-column-CampaignId {
    max-width: 45px;
  }

  .mat-column-FileName {
    max-width: 250px;
  }

  .mat-column-CampaignName {
    max-width: 85px;
  }

  .mat-column-WorkflowName {
    max-width: 85px;
  }

  .mat-column-StatusName {
    max-width: 75px;
  }

  .mat-column-AssigneeName {
    max-width: 50px;
  }

  .mat-column-AssigneeRole {
    max-width: 50px;
  }

  .mat-column-Completed {
    max-width: 50px;
  }
  